{% extends "layouts/base.html" %}

{% block content %}
    <article>
        <h1>{{ site.name }}</h1>
        {{ content | safe }}

        <ul>
            {% for year in years %}
                <li>
                    <h2>{{ year }}</h2>
                    {# Check for any Events data here #}
                    {% for item in events.items %}
                        {# TODO: change to any year in this range (with a helpher) #}
                        {# Not just startYear #}
                        {% if item.startYear === year %}
                            <p>{{ item.desc }}</p>
                        {% endif %}
                    {% endfor %}

                    {# Check for any Archibald data for this year #}
                    {% for item in archibald.items %}
                        {% if item.year === year %}
                            {% include "partials/archibald-year.html" %}
                        {% endif %}
                    {% endfor %}

                </li>
            {% endfor %}
        </ul>

        <hr>

        <ul>
            {% for item in events.items %}
                <li>
                    {{ item.desc }}, {{item.startYear}}—{{item.endYear}}
                </li>
            {% endfor %}
        </ul>

        <ul>
            {% for item in archibald.items %}
                {% include "partials/archibald-year.html" %}

            {% endfor %}
        </ul>

    </article>
{% endblock %}