{% extends "layouts/base.html" %}
{% set allRelevantYears = helpers.getAllRelevantYears(archibald.items, events.items) %}

{% block content %}
    <article>
        <h1>{{ site.name }}</h1>
        {{ content | safe }}

        <ol>
            {% for year in allRelevantYears %}
                <li>
                    <h2>{{ year }}</h2>
                    {% for item in events.items %}
                        {# Check for any Events data for this year #}
                        {# TODO: change to any year (not just startYear) in this range (with a helpher?) #}
                        {% if item.startYear === year %}
                            {# Check if there is startDesc #}
                            {% if item.startDesc %}
                                <p>Start desc: {{ item.startDesc }}</p>
                            {% endif %}
                            {# TODO: change the above text to general .desc after startYear + yearsToMainstream #}
                            {# TODO: make this general desc appear for every year in between (startYear + yearsToMainstream) and (endYear - yearsDeclineFromMainstream) #}
                            <p>General desc: {{ item.desc }}</p>
                            {# TODO: change the above text to general .desc after endYear - yearsDeclineFromMainstream #}
                            {# Check if there is endDesc #}
                            {% if item.endDesc %}
                                <p>End desc: {{ item.endDesc }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% for item in archibald.items %}
                        {# Check for any Archibald data for this year #}
                        {% if item.year === year %}
                            {% include "partials/archibald-year.html" %}
                        {% endif %}
                    {% endfor %}

                </li>
            {% endfor %}
        </ol>
    </article>
{% endblock %}