<section aria-label="graphic introduction">
  <div class="images">
    <img data-ref="first" src="{{ attributions.dancingWoman.imgUrl }}" alt="Greek artwork" class="active">
    <img data-ref="second"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/600px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg"
      alt="The Mona Lisa">
    <img data-ref="third"
      src="https://the-public-domain-review.imgix.net/collections/robert-cornelius-self-portrait-the-first-ever-selfie-1839/585px-RobertCornelius.jpg"
      alt="Robert Cornelius">
  </div>

  <div class="text">
    <div id="first" class="item container">
      <p>About 3&hairsp;–&hairsp;4000 years ago, this 'upper torso of a dancing woman' was painted.</p>
    </div>
    <div id="second" class="item container">
      <p>About 512 years ago, Leonardo Di Vinci painted the Mona Lisa.</p>
    </div>
    <div id="third" class="item container">
      <p>And 181 years ago, the world's first selfie was taken.</p>
    </div>
  </div>
</section>

<section aria-label="textual introduction">
  <div class="container">
    <p>It took about another 100 years from that selfie moment for cameras and their output to be accessible to the
      masses. Before that, portraiture painting was one of the few mediums available for recording and preserving people
      (and their character). Its output scale of one, the skill needed (to do a good job), and cost of materials made
      painting portraits scarce, expensive, and available to just a few.</p>

    <p>I'm writing this at the end of year 2020 CE. Given you have access to this article* (*and therefore in access of
      an
      internet-connected device, with most importantly, a screen (and perhaps a camera), you probably know all of the
      the
      above innately.</p>
  </div>

  <div class="images">
    <figure>
      <img src="{{ attributions.ladyWithAnErmine.imgUrl }}" alt="A painting of a woman and a weasel">
      <figcaption>Someone important</figcaption>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/dannywhite/image/upload/h_500,q_50/v1608271694/camera-obscura/danny.jpg"
        alt="A photo of the author as a child">
      <figcaption>Someone not</figcaption>
    </figure>
  </div>

  <div class="container">
    <p>
      You also understand the contextual differences between these two portraits. One is of someone important;
      laboriously painted by a master, and probably kept somewhere safe without flash photography or sunlight. The other
      is a spontaneous, hastily-shot photo* from a cheap (perhaps disposable) camera; printed at Kmart, and dogeared
      from years of wallet-living. (*you can decide who is the important one...)
    </p>
    <p>If you're like me however, you may not have considered that the 'switch' from portraiture to photography (as the
      main method to record and preserve memories of people) <strong>is actually an ever-evolving relationship</strong>.
      In the age
      of
      FaceTune and on the cusp of Deepfake, photos can no longer be assumed to be an objective record. Nor could they
      ever
      be. As John Berger put it:</p>
  </div>
</section>

<aside class="callout">
  <p>This webpage explores the how portraiture and photography have each developed.</p>
</aside>

<section class="container">
  <p>
    Material innovations, invention of new pigments, feminism, money, new social norms... There are a lot of other
    historical developments that affect portraiture (and photography). I'm *not* using this essay to draw the conclusion
    that photography has been the sole transformative element in portraiture. Maybe the affect is minimal. I don't know
    enough about either mediums to say. This is why I...

    ~~I've almost exhausted my knowledge on both, so~~ won't pretend to draw conclusions. By putting them side-by-side
    though, I think we can make some fairly strong ones, together. [I'll also do my best to mention other, major, non
    portraiture and photography developments]. The focus will remain on portraiture and painting though. If you want to
    know more about the actual cause and effect on the changes in portraiture, I've heard X, Y, and Z are good
    places/books to start.

    Also keep in mind that other mediums—that I won't get into—have become available for portraiture, also changing the
    meaning of portraiture painting. Prints (etching, lithography), video, and digital media.
  </p>
</section>